:root{
    --color1: rgb(250, 240, 230);
    --color1dark: rgba(250, 240, 230, 0.5);
    --color2: rgb(185, 180, 199);
    --color2dark: hsl(256, 14.5%, 60%);
    --color2darker: hsl(256, 14.5%, 55%);
    --color3: rgb(92, 84, 112);
    --color3dark: hsl(256, 14.3%, 30%);
    --color4: rgb(53, 47, 68);
}
body{
    background-color: var(--color2);
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
p{
    color: var(--color4);
    overflow-wrap: break-word;
}
body, input, button, p, textarea{
    font-family: "consolas", "ubuntu";
    color: var(--color1);
    font-size: 16px;
}
header{
    margin-right: auto;
    background-color: var(--color3);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    padding-left: 2%;
    width: 90%;
    min-width: 750px;
}
.MenuBtn, .SignBtn{
    background-color: var(--color3);
    border-width: 0; 
    cursor:pointer;
}
.NavBtn{
    margin-left: 5%;
    align-self: center;
}
.IconFilter{
    vertical-align:middle;
    filter: invert(93%) sepia(14%) saturate(136%) hue-rotate(349deg) brightness(97%) contrast(104%);
}
.Profile{
    align-self: center;
}
.Search{
    margin:auto;
    width: clamp(150px, 50%, 900px);
}
#ShopSearchBtn{
    vertical-align: middle;
}
#ShopSearchBar{
    width: 80%;
    border-radius: 15px;
    background-color: var(--color1);
    color: var(--color4);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
    border-style: solid;
    border-color: var(--color4);
    vertical-align: middle;
    ::placeholder{
        opacity: 0.5;
    }
}
#ShopSearchBar:focus{
    border-color: var(--color2);
    outline: none;
}
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background-color: var(--color2dark);
    border-radius: 100vw;
    margin-block: 0.5em;
    transition: background-color 1s;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color3);
    border-radius: 100vw;
    transition: background-color 1s;
}
::-webkit-scrollbar-track:hover{
    background-color: var(--color2darker);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color3dark);
}
@media (max-width: 1150px){
    .MenuBtn{
        font-size: 0px;
    }
}